* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif, Arial;
}

header {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(24, 24, 24);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

nav {
    text-align: center;
    display: inline-flex;
    width: 700px;
    height: 100%;
    justify-content: flex-end;
    margin-left: 10%;
    align-items: center;
    gap: 35px;
}

nav button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

nav button:hover {
    background-color: rgb(207, 0, 86);
    outline: none;
    cursor: pointer;
    color: white;
    border: none;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

#content {
    display: inline-block;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-container {
    border: 2px solid rgb(24, 24, 24);
    background-color: rgb(24, 24, 24);
    color: white;
    width: 800px;
    height: max-content;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.menu-container {
    border: 2px solid rgb(24, 24, 24);
    background-color: rgb(24, 24, 24);
    color: white;
    width: 400px;
    height: max-content;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.menu-container p {
    font-weight: 700;
}

.contact-container {
    border: 2px solid rgb(24, 24, 24);
    background-color: rgb(24, 24, 24);
    color: white;
    width: 400px;
    height: max-content;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}